<configuration>
  <system.webServer>
    <httpErrors existingResponse="PassThrough" /> 
    <handlers>
      <add name="iisnode" path="*.js" verb="*" modules="iisnode" />
    </handlers>
	
	<iisnode nodeProcessCommandLine="C:\\Program Files\\nodejs\\node.exe" />

	<modules runAllManagedModulesForAllRequests="true">
        <remove name="WebDAVModule"/>
    </modules>

    <rewrite>
      <rules>
        <rule name="ahp_api">
          <match url="/*" />
          <action type="Rewrite" url="main.js" />
        </rule>
      </rules>
    </rewrite>
     <security>
            <requestFiltering>
                <requestLimits maxAllowedContentLength="1000000000" />
            </requestFiltering>
        </security>
  </system.webServer>
</configuration>
